<div>
  <ul>
    <li>{{id}}. {{technology_name}}
      <button class="complete" data-id="{{id}}">Complete</button>
      {{!-- <button class="delete" data-id="{{this.id}}">Delete</button> --}}
    </li>
  </ul>
</div>
