<div>
  <ul>
    <li>{{id}}. {{technology_name}}</li>
    <li>
      <button class="learned" data-id="{{id}}">Learned</button>
      <button class="remove-subject" data-id="{{this.id}}">Remove</button>
    </li>
  </ul>
</div>
