<div class="container">
  <h1>Full Stack Web Developement Lessons</h1>

  <div class="subject-add">
    <h3>Add New Course Content:</h3>
    <form class="create-form">
      <div class="form-group">
        <label for="name"></label>
        <textarea name="technology-name" id="technology-name" cols="50" rows="2"
          placeholder="Example: Data Science"></textarea>
      </div>
      <button type="submit" class="create-form">Add New Topic</button>
    </form>
  </div>
  
  <hr>

  <div class="container-2">
    <div class="subject">
      <h3>Desired Lessons</h3>
     <ul>
       {{#each subject}}
         {{#unless learned}}
          {{> subject/subject-block}}
         {{/unless}}
        {{/each}}
      </ul>
    </div>

   <div class="subject-complete">
      <h3>Completed Lessons:</h3>
      <ul>
       {{#each subject}}
         {{#if learned}}
         <li>
           {{technology_name}}
         </li>
         {{/if}}
       {{/each}}    
     </ul>
    </div>
  </div>

</div>
