<div class="container">
  <h1>Full Stack Web Developemenmt Bootcamp</h1>
  <div>
    <ul>
      {{#each subjects}}
        {{#unless learned}}
          {{> subject/subject-block}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div>
    <ul>
      {{#each subjects}}
        {{#if learned}}
          {{id}}. {{technology_name}}
        {{/if}}
      {{/each}}
    </ul>
  </div>

  <div>
   <form class="create-form">
      <div class="form-group">
        <label for="name"></label>
        <textarea name="technology-name" id="technology-name" cols="50" rows="2"
          placeholder="What technology would you like to learn?"></textarea>
      </div>
      <button type="submit" class="create-form">Add Technology Subject</button>
    </form>
  </div>
</div>