<div class="container">
  <h1>Full Stack Web Developemenmt Bootcamp</h1>
  <h3>Current curriculum</h3>
  <div>
    <ul>
      {{#each subjects}}
        {{#unless learned}}
          {{> subject/subject-block}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div>
    <ul>
      {{#each subjects}}
        {{#if learned}}
          {{id}}. {{technology_name}}
        {{/if}}
      {{/each}}
    </ul>
  </div>

  <div>
   <h3>Add a subect you like to learn to the curriculum.</h3 >
   <form class="create-form">
      <div class="form-group">
        <label for="name"></label>
        <textarea name="technology-name" id="technology-name" cols="50" rows="2"
          placeholder="React, Angular, Sequelize, Computer Science, etc...."></textarea>
      </div>
      <button type="submit" class="create-form">Add Technology Subject</button>
    </form>
  </div>
</div>